<h4 style="color:white">{{theMovie.title}}</h4>

<p style="color:white">{{theMovie.director}}</p>
<p style="color:white">{{theMovie.stars}}</p>

<img src="{{theMovie.image}}" alt="">
<p style="color:white">{{theMovie.description}}</p>
<p style="color:white">{{theMovie.showtimes}}</p>